doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Unnamed Park
    link(rel='stylesheet', href='css/reset.css')
    link(rel='stylesheet', href="css/style.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Zen+Kaku+Gothic+Antique&display=swap" rel="stylesheet")
  body
    canvas#snow(width='' height='')
    div#container
      div.accordion
        h1.unwrap-button Lorem ipsum
        div.wrapper
          p.content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor
          p.content commodo ullamcorper a lacus vestibulum sed. Vulputate dignissim suspendisse in est ante in nibh mauris cursus. Faucibus turpis in eu mi
          p.content bibendum neque. Facilisis sed odio morbi quis commodo odio aenean sed. Ultricies leo integer malesuada nunc vel risus commodo viverra
          p.content maecenas. Pellentesque habitant morbi tristique senectus et netus et. Elit duis tristique sollicitudin nibh sit amet commodo nulla. Dictum at
          p.content tempor commodo ullamcorper a lacus. Quis auctor elit sed vulputate.
      div.accordion
        h1.unwrap-button Turpis nunc
        div.wrapper
          p.content Turpis nunc eget lorem dolor sed viverra. Sem et tortor consequat id porta nibh. Tortor condimentum lacinia quis vel eros donec. Quam id
          p.content leo in vitae turpis massa sed elementum. Ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan. Ornare arcu odio ut
          p.content sem nulla pharetra. Tellus at urna condimentum mattis pellentesque id nibh. Volutpat consequat mauris nunc congue nisi vitae suscipit tellus.
          p.content Ipsum faucibus vitae aliquet nec. Aliquam ut porttitor leo a. Amet nisl purus in mollis. Donec et odio pellentesque diam volutpat commodo.
      div.accordion
        h1.unwrap-button In mollis
        div.wrapper
          p.content In mollis nunc sed id semper. Amet mauris commodo quis imperdiet massa tincidunt nunc. Amet mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan. Et netus et malesuada fames ac turpis.
          p.content Turpis egestas integer eget aliquet nibh praesent tristique magna. Integer malesuada nunc vel risus commodo viverra maecenas accumsan. Mattis ullamcorper velit sed ullamcorper. Augue neque gravida in fermentum et sollicitudin ac orci phasellus. In dictum non
          p.content consectetur a erat. Est lorem ipsum dolor sit amet consectetur. Id eu nisl nunc mi ipsum faucibus vitae aliquet nec. At quis risus sed vulputate odio ut enim. Posuere lorem ipsum dolor sit amet consectetur.
      div.accordion
        h1.unwrap-button hoge
        ul.wrapper
          li.content fuga
          li.content foo
          li.content bar
    script(src="js/script.js")
    script(src="js/snow.js")