doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Unnamed Park
    link(rel='stylesheet', href='css/reset.css')
    link(rel='stylesheet', href="css/style.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Zen+Kaku+Gothic+Antique&display=swap" rel="stylesheet")
  body
    canvas#snow(width='' height='')
    div#container
      div.accordion
        h1.unwrap-button Educational Background
        div.wrapper
          p.content 2018-2022: College of Information Science, University of Tsukuba
          p.content 2022-2024: Master's Program in Computer Science, University of Tsukuba
          p.content
            span @
            a(href='http://kde.cs.tsukuba.ac.jp/ja/index.php') Knowledge & Data Engineering Lab.
      div.accordion
        h1.unwrap-button Papers
        ul.wrapper
          li.content
            a(href='https://ken.ieice.org/ken/paper/20220303JCJt/') 深層学習を用いた睡眠ステージ判定のための脳波信号スタイル変換
            p ニューロコンピューティング研究会(NC), NC2021-66, 2022年3月2日~3月4日.
          li.content
            a(href='https://proceedings-of-deim.github.io/DEIM2023/') 睡眠ステージ判定のためのスタイル変換に基づく脳波信号のノイズ・個人差除去
            <br>
            p 第15回データ工学と情報マネジメントに関するフォーラム(DEIM2023), 2023年3月5日~3月9日.
          li.content
            a(href='https://proceedings-of-deim.github.io/DEIM2024/') 睡眠ステージ判定を対象としたエンコーダ・デコーダモデルによる脳波信号オーグメンテーション (学生プレゼンテーション賞)
            p 第16回データ工学と情報マネジメントに関するフォーラム(DEIM2024), 2024年2月28日~3月5日.
      div.accordion
        h1.unwrap-button My Favorite Things
        div.wrapper
          p.content
            b Language: 
            span Python, Ruby on Rails
          p.content
            b Daily: 
            span Orchestral music, Guitar(fingerstyle), Sumo, Museum of art
          p.content
            b Composer: 
            span Maurice Ravel, Claude Debussy, Leroy Anderson, Koichi Sugiyama, Masakatsu Takagi, Joe Hisaishi, Elisha David
          p.content 
            b Artist: 
            span Ringo Sheena, Lyn Lapid, unmo, Hirohiko Araki, Akira Toriyama
          p.content
            b Anime: 
            span Keep Your Hands Off Eizouken!, Ping Pong The Animation, Attack on Titan
    script(src="js/script.js")
    script(src="js/snow.js")